<table class="table table-hover" style="max-width:600px;"><caption>Dokumentiere deinen Fortschritt</caption>
<tbody><tr>
<td>Ich bin mit der <b>Einzelarbeit</b> fertig: <br>[[Suche]]</td>
</tr>
<tr>
<td><details><summary>Ich bin mit der <b>Partnerarbeit</b> fertig</summary>[[Fertig]]</details></td>
</tr>
</tbody>
</table>
<br><br>