<div class="flex-item-lerntempo">
<div class="cardlerntempo fertig[[Fertig]]">
<div class="userpicture">##userpicture##</div>
<div class="cardcontainer">
<b>##delcheck## ##user## ##edit##</b>
</div>
</div>
</div>
   
