<div class="text-right d-print-none ion-hide">
<label for="checkbox1" onClick="save()"><input type="checkbox" id="checkbox1"> Automatisch aktualisieren</input></label>
</div>
  <script>
            // Run once per session.
            if ((typeof sessionStorage !== 'undefined') &&
                (sessionStorage.getItem('ChangeEntriesReload') === null)) {

                // Set url for 1000 entries per site.
                const params = new URLSearchParams(location.search);
                params.set('perpage', 1000);
                window.history.replaceState({}, '', `${location.pathname}?${params}`);
                // Reload page.
                window.location.reload();

                console.log('ok');

                sessionStorage.setItem('ChangeEntriesReload', true);
            }
        </script>
<script>
    // Save status of checkbox.
    function save() {
        var checkbox = document.getElementById("checkbox1");
        localStorage.setItem("checkbox1", checkbox.checked);
        location.reload();
    }
    // Get status of checkbox.
    var checked = JSON.parse(localStorage.getItem("checkbox1"));
    document.getElementById("checkbox1").checked = checked;

    // Reload if checkbox is checked.
    if (checkbox1.checked == true) {
        // Reload single div every 4 sec.
        setInterval(function () {
            $("#data-content").load(location.href + " #data-content>*", "");
        }, 4000);
    }
</script>
<div class="lerntempoheader">
<h2><span style="color:#f909ec;">Lerntemp<i class="fa fa-user-circle-o"></i><i class="fa fa-user-circle"></i>uett!</span></h2>
</div>

<div class="flex-lerntempooben teammitglied" >
<div  class="flex-item-lerntempo">Teammitglied 1 <i class="fa fa-arrow-right" id="teammitgliedrechts"></i> </div>
<div  class="flex-item-lerntempo" id="teammitglied2"><i class="fa fa-arrow-left"></i> Teammitglied 2</div>  
</div>
<div class="flex-lerntempo" id="data-content">

