<div class="flex-item-lerntempo">
<div class="warten"><i class="fa fa-question-circle"></i><br>Warten auf...</div>
</div>
</div>
<div>
<br>
  <div class="lerntempofooter">
<ul style="list-style: none;">
<li><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Ein Team bildet sich immer aus zwei Personen nebeneinander mit gleicher Farbe!</li>
<li><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;&nbsp;Diese Personen könnt ihr um Hilfe bitten!</li></ul></div><br><br>
