<div class="defaulttemplate"><table class="mod-data-default-template ##approvalstatusclass##">
<tbody><tr class="">
<td class="template-field cell c0" style="">Suche: </td>
<td class="template-token cell c1 lastcol" style="">[[Suche]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Datei: </td>
<td class="template-token cell c1 lastcol" style=""></td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Text: </td>
<td class="template-token cell c1 lastcol" style=""></td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Fertig: </td>
<td class="template-token cell c1 lastcol" style=""></td>
</tr>
<tr class="lastrow">
<td class="controls template-field cell c0 lastcol" style="" colspan="2">##edit## ##approve##  ##disapprove##  ##export##</td>
</tr>
</tbody>
</table>
</div> [[Fertig]]