<h3>##userpicture## ##user## ##edit##</h3><table class="table table-hover" style="width:100%;"><caption>Status</caption>
<tbody><tr>
<td>Ich bin mit der <b>Einzelarbeit</b> fertig:</td><td>[[Suche]]</td><td><i class="fa fa-arrow-right"></i></td><td>Gehe zur Listenansicht und beginne mit der Partnerarbeit, sobald dir ein Partner oder eine Partnerin zugewiesen wurde.</td>
</tr>
<tr>
<td>Ich bin mit der <b>Partnerarbeit</b> fertig:</td><td>[[Fertig]]</td><td><i class="fa fa-arrow-right"></i></td><td><div class="einzelansichtfertig[[Fertig]]"></i></div></td>
</tr>
</tr>
</tbody>
</table><hr>
<ul><li>Erstellt: ##timeadded##</li>
<li>Geändert: ##timemodified##</li>
</ul><br>